*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size: 100%;
    vertical-align: baseline;
    background:transparent;
}
/* --------------------------------------------------- */
    /* HEADER */
/* --------------------------------------------------- */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
li{
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin:0 25px;
    text-decoration: none;
}
li a:hover{
    /* opacity:0.8; */
    background-color:#111;
}

/* --------------------------------------------------- */
    /* GALLERY */
/* --------------------------------------------------- */
body{
    line-height: 1;
    background-color: #f6f7f8;
}
.gallery-container h2{
    font-family: catamaran;
    font-size:58px;
    font-weight:600;
    color:black;
    text-transform: uppercase;
    align-items:center;
    width:100%;
    height:20vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.gallery-links p {
    color:black;
}
.gallery-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding:50px;
    margin:60px;
}
.gallery-container img{
    width:300px;
    margin:20px 10px 0;
    text-decoration: none;
    border-radius: 14px;
}
.gallery-container a:hover {
    opacity:0.8;
}
.gallery-container img section {
    width:100%;
    height:235px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.gallery-container a h3{
    font-family: catamaran;
    font-size: 20px;
    font-weight: 700;
    color: black;
    /* margin-top:20px; */
}
input[type=text]{
    padding:5px 10px;
    margin:10px 10px;
    display:block;
    border: 1px solid #ccc;
    background-color:white;
    width:230px;
    box-sizing: border-box;

}
input[type=submit]{
    width:100%;
    background-color:#fd501e;
    color:#ffff;
    padding:14px 20px;
    margin:8px 0;
    border-radius: 4px;
    cursor:pointer;
}

button[type=submit]{
    width:100%;
    background-color:#fd501e;
    color:#ffff;
    padding:14px 20px;
    margin:8px 0;
    border-radius: 4px;
    cursor:pointer;
}
input[type=submit]:hover{
    opacity:0.9;
}
.gallery-upload{
    padding:15px;
    width:100%;
    background-color: #ccc;
    
}
/* --------------------------------------------------- */
    /* PAYMENT */
/* --------------------------------------------------- */
.payment-container {
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.payment-container h2{
    text-transform: uppercase;
    font-size: 25px;
}
.payment-container label{
    text-transform:capitalize;
}

.confirmation-container span{
    height:100vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-items: center;
    font-size: 22px;
    text-transform: uppercase;
}


/* --------------------------------------------------- */
    /* twitter page */
/* --------------------------------------------------- */

.tweet-box{
    width: 100%;
    border: 1px solid #e8e8e8;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 5px;
    float: left;
}
.tweet-box h2 {
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 18px;
    color: #444;
    border-bottom: 1px solid #E5E5E5;
    padding: 10px;
    margin: 0;
}
.tweets-widget {
    list-style: none;
    max-height: 450px;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.tweets-widget ul {
    margin-bottom: 0px;
    padding-left: 0;
    width: 100%;
}
.tweet-wrapper {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 15px;
    width: 100%;
    overflow: hidden;
    padding-left: 10px;
}
.tweet-wrapper:last-child {
    border-bottom: none;
    margin-bottom: 0px;
}
.tweet-thumb {
    float: left;
    margin-right: 15px;
    margin-top: 5px;
}
h3.title a{color: #4c9fe1;}
h3.title a:hover{text-decoration: underline;}
.tweets-widget img {
    max-width: 100%;
    border: 0;
    height: auto;
    background: #fff;
    display: block;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
.tweet-content {
    overflow: hidden;
}
.tweet-content .title {
    margin-top: 5px;
    margin-bottom: 0px;
    line-height: 19px;
    font-size: 14px;
    font-family: 'Arial';
}
.tweet-content .meta {
    font-size: 11px;
    color: #929292;
}

.twitterFeed-container{
    margin-top:100px;
}